Gerenciador de academia

Requisitos funcionais:
 - Cadastro de clientes
 - - CRUD básico
 - Entidade cliente
 - - Nome, Email, Peso, Altura, Plano
 - Entidade Planos
 - - Tipo, Preço, Validade
 - Cadastro de funcionarios
 - - CRUD básico
 - Entidade funcionário
 - - Nome, Email, Telefone, Role, Cadastro Data
 - Apresentação conteúdo estático com Thymeleaf